

.service-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  // width: 100%;
  background-color: $sound-background-color;
  border-radius: 8px;
  padding: 5px 10px;
  color: #DDD;
  min-height: 100px;
  overflow:hidden;
}

.service-display-current-sound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
  margin: 2px 1px;
  width: 100%;

  background: linear-gradient(darken($sound-background-color, 10), lighten($sound-background-color, 10));
  box-shadow: inset 0px 0px 3px #555;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}

.service-display-current-sound-url {
  font-size: 12px;
  height: 36px;
  color: #AAA;
}

.service-display-current-sound-title {
  font-size: 15px;
}


.service-display-current-sound-position {
  margin-top: 5px;
  width: 100%;
}


.service-display-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.service-display-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-basis: 40%;
}

.service-display-volume {
  width: 100%;
  padding: 5px;
  > input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    outline: 0;
    width: 100%;
    border-radius: 3px;
    height: 7px;
    border: 1px solid lighten($sound-background-color, 20);
    background-color: $sound-background-color;
  }
  input[type='range']::-webkit-slider-thumb, input[type='range']::-moz-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
  }

  input[type='range']::-moz-range-track {
    border: 1px solid #bdc3c7;
    height: 5px;
    border-radius: 10px;
    border: 1px solid lighten($sound-background-color, 20);
    background-color: $sound-background-color;
    cursor: pointer;
  }
}

.service-display-button-item {
  display: flex;
  padding: 10px;
  color: $sound-accent-color;
}

.service-display-connections {
  padding: 0.25em 0;
  display: flex;
  flex-direction: row;

  @include media(">=phone") {

  }

  @include media(">=tablet") {

  }
}

.volume-control {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  .volume-notch {
    background-color: darken($sound-accent-color, 40);
    height: 5px;
    border-radius: 1px;
    width: 100%;
    margin: 0 1px;
  }

  .volume-notch.active {
    background-color: $sound-accent-color;
  }
}
