{{#each eventListGroupings use=transition as |e|}}
  <a href="#" class="debug-event-tag" {{action "displayEvent" e}}>
    {{#if (gt e.count 1)}}
      <span class="debug-event-count">{{e.count}}</span>
    {{/if}}
    <span class="debug-event-name">{{e.name}}</span>
  </a>
{{/each}}
