button {
  border-radius: 50px;
  background: #2EC0F9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  
  &:hover {
    background: #FAA300;
  }
  
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.audio-player button {
  background: #1768AC;
  background: #077b5b;
  
  &:hover {
    background: #036147;
  }
}
