.is-error {
  &:before {
    content: 'X';
  }

  pointer-events: none;
  background: red;
  color: white;
}

.is-success {
  pointer-events: none;
  background: green;
  color: white;
}

.flexrow-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 120px;
}

.flex-child {
  flex: 1;
}

.fixed-container {
  position: fixed;
}

.fixed-container.bottom {
  bottom: 0;
}

.fixed-container.full {
  left: 0;
  width: 100%;
}

.audio-player {
  background: #09BC8A;
  padding: 20px 30px;
  box-sizing: border-box;
  color: white;
}
