.site-chrome {
  padding: 35px;
}

.site-chrome__nav {
  position: fixed;
  width: 150px;
  height: 100%;
}

.site-chrome__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-chrome__body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 150px;
}

.site-chrome__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
}
