@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import "bulma";

@import "base";
@import "diagnostic";
@import "site-chrome";

// MEDIA QUERIES
$breakpoints: (
  'phone': 599px,
  'tablet': 900px,
  'desktop': 1200px,
  'big-desktop': 1800px
);

@import "vendor/include-media";

$container-background-color: #FCFCFC;
$container-border-color: #EEE;
$container-label-color: $yellow;

$sound-background-color: #1b202b;

$sound-accent-color: aqua;
$sound-text-color: $body-color;

$text-color-normal: #AAA;
$text-color-bright: #EEE;

@import "components/sound-container";
@import "components/service-display";
@import "components/connection-display";
@import "components/sound-display";
@import "components/diagnostic-controls";
