<h2 class="heading--main">Hifi Service</h2>
{{md-text text="
* api
  * `play`
  * `load`
  * `pause`
  * `togglePause`
  * `fastForward`
  * `rewind`
* properties
  * `volume`
  * `position`
  * `isLoading`
  * `isPlaying`
  * `isStream`
  * `isFastForwardable`
  * `isRewindable`
  * `duration`
  * `percentLoaded`
  * `currentSound`
* events
  * `current-sound-changed`
"}}
