<h2 class="heading--main">Sound Objects</h2>
{{markdown-to-html markdown="
* api
  * `play`
  * `pause`
  * `fastForward`
  * `rewind`
* properties
  * `position`
  * `isLoading`
  * `isPlaying`
  * `isStream`
  * `canFastForward`
  * `canRewind`
  * `duration`
  * `percentLoaded`
  * `url`
"}}
